[Unit]
Description=Botko
After=nginx.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/apps/botko
ExecStart=/var/apps/botko/.venv/bin/gunicorn gunicorn app:api
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MANPID
User=anze

[Install]
WantedBy=multi-user.target
